.features-section {
  padding: 3rem 2rem;
  background-color: #000;
  text-align: center;
   position: relative;
   bottom: 0;
}

.features-section h2 {
  color: orange;
  margin-bottom: 2rem;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.feature-card {
  background-color: #111;
  padding: 1.5rem;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.2);
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h3 {
  color: orange;
  margin-bottom: 1rem;
}